




<!DOCTYPE html>
<html>
<head>
   
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  
<div class="navigation">
    
	<div class="wrap">
		<div class="fixed-header">
			<div class="nav-left">
				<a href=""><img src="http://localhost:59469/Content/logo.png" alt=""/></a>
               
			</div>
			<div class="nav-right">
				<span class="menu"><img src="Content/menu.png" alt="" /></span>
					<nav class="cl-effect-1">
						<ul class="nav1"><li>
							 @if(SovaTranslate_001.auth.AuthHelper.IsAuthenticated(Context.ApplicationInstance.Context))
                                {
                                    @SovaTranslate_001.auth.AuthHelper.GetUser(Context.ApplicationInstance.Context).email
                                 @Html.ActionLink("Личный кабинет","Index","Account")
                                    @Html.ActionLink("Выйти", "Logoff", "Account")
                                }
                                else
                                {
                                   @Html.ActionLink("Enter", "Login", "Account")
                                    
                                    @Html.ActionLink("Registration", "Registration", "Account")
                                        }

                                     </li>
                            <li></li>
						</ul>
					</nav>
					
					<!-- /script-for sticky-nav -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> 

   


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <div class="Copyrtie">@DateTime.Now.Date.Year</div>

    </footer>
</body>
</html>
